#preloader{
    background: #fff url(https://i.pinimg.com/originals/6c/97/be/6c97be2bee42e1f965761376c01453fa.gif) no-repeat center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  .vedio{
    background-color:black ;
    width: 100%;
    height: 100vh;
  }
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aqua;
}